.vertical-timeline {
  span {
    color: white;
    font-family: 'Courier Prime', monospace;
  }

  p {
    color: rgb(39, 40, 34);
  }
}

.vertical-timeline-element {
  p,
  h3,
  h4,
  span {
    color: rgb(39, 40, 34);
  }

  /* Force date color to #ff6600 and override any inline or responsive styles */
  .vertical-timeline-element-date {
    color: #ff6600 !important;
    font-weight: bold;
  }
}

.svg-inline--fa {
  color: white;
}
