.vertical-timeline {
  span {
    color: white;
    font-family: 'Courier Prime', monospace;
  }

  p {
    color: rgb(39, 40, 34);
  }
}

.vertical-timeline-element {
  p,
  h3,
  h4,
  span {
    color: rgb(39, 40, 34);
  }

  .vertical-timeline-element-date {
    color: white; // Always white, even on mobile
  }
}

.svg-inline--fa {
  color: white;
}

// Optional: If you want different colors for smaller screens, uncomment below
/*
@media screen and (max-width: 1170px) {
  .vertical-timeline-element {
    .vertical-timeline-element-date {
      color: rgb(39, 40, 34);
    }
  }
}
*/
